/* Reset */
@import  "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(to right, #383B40, #6F7780);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li i{
    align-items: center;
    justify-content: center;
    padding-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #F4C542;
    transform: scale(1.1);
}

.hero {
    background: linear-gradient(to right, #383B40, #6F7780);
    color: white;
    text-align: center;
    padding: 100px 20px 50px;
}

.section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #1A1B1E;
    color: white;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

footer {
    text-align: center;
    background: linear-gradient(to right, #1A1B1E, #383B40);
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
        align-items: center;
    }
}